nav {
    display:flex;
    width: 100vw;
    text-align: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 .5px 10px #ddd;
    background-color: #fff;
}
nav h1 {
    padding-left: 3vw;
}
ol {
    display: flex;
    list-style:none;
    align-items: center;
    gap: 20px;
}
ol li {
    cursor: pointer;
}
@media (max-width: 600px) {
    nav {
        align-items: center;
        justify-content: space-around;
    }
    nav h1 {
        font-size: 15px;
    }
    nav ol {
        gap: 10px;
        font-size: 13px;
    }
    
}